@use "../styles/base/reset.scss" as *;


.header-container {
    width: 100%;
    height: 55px;
    background-color: #262626;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;

    .firsth2 {
        color: #ffffff;
        margin-right: 2px;
        cursor: pointer;
        font-size: 25px;
    }

    .secondh2 {
        color: #81b441;
        cursor: pointer;
        font-size: 25px;
    }

}

.fa-leaf {
    color: #81b441;
    margin-left: 20px;
    margin-right: 2px;
    cursor: pointer;
}

.header-container button {
    width: 90px;
    height: 30px;
    border: 1px solid #81b441;
    border-radius: 5px;
    position: relative;
    right: -1040px;
    color: #ffffff;
    background-color: #81b441;
    font-size: 14px;
    cursor: pointer;
}

.header-container button:hover {
    background-color: #7aa93c;
}


.nav-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 9%;
    background-color: #fff;

    img {
        margin-left: 30px;
        margin-right: 90px;
        cursor: pointer;
    }

}

.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 60px;
    font-weight: 500;
    cursor: pointer;

    button {
        width: 150px;
        height: 45px;
        background-color: #ed2027;
        color: #fff;
        margin-left: 25px;
        font-weight: 500;
        border-radius: 5px;
    }

}

.login-register button:hover {
    background-color: #cf3611;
}

.login-register li:hover {
    color: #ed2027;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.menu-item {
    position: relative;
    display: inline-block;
}

.menu-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}


.submenu {
    width: 200px;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
}

.submenu li a {
    padding: 10px 15px;
    display: block;
    color: gray;
    text-decoration: none;
}

.submenu #li1 a {
    color: #ed2027;
}

.submenu li a:hover {
    background-color: #f0f0f0;
    color: #ed2027;
}


.flat-slider-home3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url("https://themesflat.co/html/homzen/images/slider/slider-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    padding: 0px 70px;

    .slider-content {
        max-width: 480px;

        h1 {
            color: #262626;
            font-size: 55px;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        p {
            color: #5c6368;
            font-size: 20px;
            font-weight: 400;
        }

        button {
            width: 160px;
            height: 50px;
            border: 1px solid #ed2027;
            border-radius: 5px;
            background-color: #ed2027;
            color: #fff;
            font-weight: 500;
            margin-top: 25px;
        }

        button:hover {
            background-color: #cf3611;
        }
    }

    .tab-container {
        .heading-container {
            display: flex;
            gap: 5px;
            margin-top: 100px;

            .head {
                background-color: white;
                width: 130px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                border-radius: 5px;
                cursor: pointer;
            }

            .head2 {
                background-color: #e4e4e4;
                width: 130px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }



    .inputs {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 10px;
        border-top-left-radius: 0;
        padding: 14px 8px;
        width: 420px;
        height: 450px;
    }

    .tab-container .tab-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1px;

        input {
            width: 350px;
            height: 50px;
            padding-left: 10px;
            border-radius: 10px;
            border: 0.5px solid gray;
        }

        input:focus {
            border: 0px solid #ed2027;
            outline: 0.5px solid #ed2027;
        }

        button {
            width: 350px;
            height: 50px;
            background-color: #ed2027;
            color: #fff;
            font-weight: 500;
            border-radius: 5px;
        }

        button:hover {
            background-color: #cf3611;
        }

        select {
            width: 350px;
            height: 50px;
            border: 1px solid gray;
            border-radius: 10px;
        }

    }

}

select #all {
    color: #ed2027;
}


// Section 1.


.location-container {
    width: 100%;
    height: 100vh;
    padding-top: 100px;

    p {
        color: #ed2027;
        font-weight: 500;
        padding-left: 30px;
    }
}

.location-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 35px;
        padding-left: 32px;
        font-weight: 500;
        padding-bottom: 40px;
    }

    span {
        font-weight: 500;
        padding-right: 30px;
        cursor: pointer;
    }

    .fa-arrow-right {
        color: #ed2027;
    }
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-flow: wrap;
    cursor: pointer;
}

.cards .card {
    display: flex;
    width: 400px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.card:hover {
    background-color: #ed2027;
    color: #fff;
    transform: scale(1.1);

    a:hover {
        color: #fff;
    }

    h2:hover {
        color: #fff;
    }
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .fa-arrow-right {
        color: #ed2027;
        padding-left: 4px;
    }
}

.card-content h2 {
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.card-content span {
    font-size: 16px;
}

.explore-link {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    align-self: flex-start;
}

.explore-link:hover {
    text-decoration: underline;
}

// Section 2.

.recommended-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 450px;

    p {
        color: #ed2027;
        font-size: 16px;
        font-weight: 500;
    }

    h1 {
        font-size: 35px;
        font-weight: 500;
    }

    button {
        width: 100px;
        height: 42px;
        background-color: #f7f7f7;
    }

    button:hover {
        background-color: #ed2027;
        color: #fff;
    }
}

.recommend-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-top: 20px;
    font-weight: 500;
}

// RECOMMENDS:

.houses-cards {
    display: flex;
    justify-content: flex-start;
}

.houses-cards .house-card {
    width: 450px;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    overflow: hidden;

    .house-btn {
        width: 72px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        position: relative;
        left: 15px;
        bottom: 95px;
        font-weight: 500;
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
    }

    .house-btn:hover {
        background-color: #ed2027;
        color: #fff;
    }

    .house-content{
        position: relative;
        bottom: 70px;
        padding-left: 20px;

        h2{
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 10px;
        }

        .bed-icons{
            padding-top: 15px;
        }
    }
}

.house-content .bed-icons{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}


.house-head .left-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: relative;
    bottom: 285px;
    padding-left: 15px;
    cursor: pointer;

    a {
        width: 80px;
        height: 22px;
        background-color: #434e4d;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        border-radius: 5px;
    }

    a:hover {
        background-color: #ed2027;
    }
}

// HOUSE LEFT HEAD:

.house-head .right-head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    position: relative;
    bottom: 305px;
    padding-right: 15px;


    a {
        width: 33px;
        height: 33px;
        background-color: #405577;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 5px;
    }

    a:hover {
        background-color: #ed2027;
    }
}
